<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-card-content>
    <ion-button expand="block" routerLink="/dados-chamado">Adicionar Chamado</ion-button>
  </ion-card-content>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Erro de servidor</ion-card-title>
      <ion-card-subtitle>-Pendente</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Erro de servidor</ion-card-title>
      <ion-card-subtitle>-Removido</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" routerLink="/dados-chamado">Saiba mais</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>
